@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


.thlwrapper {
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 12pt;
  text-align: center;
  line-height: 1em;
}

.thlwrapper .title {
  height: 1em;
  display: block;
  margin: 0 auto 10px auto;
  font-size: 14pt;
  text-align: left;
}

.thlwrapper .covid-table .covid-header-row {
  margin-bottom: 12px;
  line-height: 2em;
}

.thlwrapper .covid-table .covid-header-cell {
  padding: 0 4px 4px 4px;
  width: 40px ;
  font-size: 12pt;
  line-height: 3em !important;
}

.covid-detail-postive {
  line-height: 0.8em !important;
}

.covid-detail-tests {
  line-height: 0.8em !important;
  color: yellow;
}

.covid-detail-deaths {
  color: red;
}

.thlwrapper .covid-table .covid-detail-location {
  text-align: left;
  vertical-align: bottom;
  line-height: 1.4em;
  font-size: 10pt;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  border-bottom: 0.1px solid white;
}